*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    display: flex;
    justify-content: center;
    padding: 15px;
}
.container {
    display: flex;
    justify-content: center;
}
button {
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
}
section {
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 25px;
    font-weight: 500;
}