*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    display: flex;
    justify-content: center;
    padding: 10px;
}
h2{
    display: flex;
    justify-content: center;
    padding: 10px;
}
h3 {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.bt-container{
    text-align: center;
}
#btn {
    border: 0;
    padding: 10px;
    width: 200px;
    height: 50px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.5s all;
}
#btn:hover {
    background-color: black;
    color: antiquewhite;
}